.nav-bar{
    background-image: linear-gradient(45deg,black, rgba(128, 128, 128, 0.541)), url('https://i.ibb.co/1Lnb4XY/jakub-brabec-y876c3r-Yo-Ug-unsplas.jpg');
    /* background: rgba(0, 0, 0, 0.7) url('https://loremflickr.com/320/240'); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
   
}