.banner{
    background: rgba(0, 0, 0, 0.7)  url('https://i.ibb.co/3CdF5qx/volodymyr-dedyshyn-i-CE6-u-Nn-Hn4-u.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: darken;
}