.register-banner{
    background-image: url('https://i.ibb.co/1Lnb4XY/jakub-brabec-y876c3r-Yo-Ug-unsplas.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}